{
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": true
      }
    },
    {
      "files": "*.py",
      "options": {
        "tabWidth": 4,
        "printWidth": 88,
        "singleQuote": false,
        "trailingComma": "all"
      }
    }
  ]
}
